<div class="alert alert-danger" *ngIf="!!error">
    {{ error }}
</div>

<mat-card class="card current-game mat-elevation-z8" (click)="openCurrentGame()">
    <mat-card-header>
        <mat-card-title>Current game</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list *ngIf="!!currentGame; else showNoActiveGame">
            <mat-list-item>
                <p>
                    <strong>{{ currentGame.name }}</strong> going for {{ currentGame.gameDuration }} day(s)
                    Spotted {{ currentGame.platesSpotted }} state(s)
                </p>
            </mat-list-item>
        </mat-list>
        <ng-template #showNoActiveGame>
            <h4>No active games!</h4>
        </ng-template>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer *ngIf="!!lastSpot">
        <small>Last spot <strong>{{ lastSpot.stateOrProvince }}</strong> on <strong>{{ lastSpot?.dateSpotted | date: 'E, MMM dd @ h:mm aaa' }}</strong> by {{ lastSpot?.spottedBy }}</small>
    </mat-card-footer>
</mat-card>