@import '~src/styles/variables.scss';

:host {
	display: inline-block;
	overflow: hidden;
	position: relative;
}


.svg {
  display: none;
}

@keyframes movefrombg {
  from { fill: lightsteelblue;}
}

@keyframes movetobg {
	to { fill: lightsteelblue;}
}

.state {
	fill:lightsteelblue;
	animation: movetobg .5s ease-out;
}

.this-game-spot {
	fill: $primary;
}

@for $i from 1 through 10 {
	.past-games-weight-#{$i * 10} {
		fill: rgba($color: $warn, $alpha: $i / 10);
		animation: movefrombg .5s ease-out;
	}
}