body {
  background-color: gray;
}

.card {
  margin: .8rem 0;
  background-color: white;
  mat-card-footer {
    padding: .5rem;
  }
  width: 95vw;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
