<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark mb-10">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
      data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" (click)="forceCollapse()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/', appRoutes.home]" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/', appRoutes.game]" routerLinkActive="router-link-active">Game</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/', appRoutes.about]" routerLinkActive="router-link-active">About</a>
        </li>
      </ul>
    </div>
    <h5 class="text-muted" *ngIf="isMenuCollapsed">The License Plate Game</h5>
  </nav>
</header>

<div class="container-fluid app-contents">
  <div class="row" *ngIf="isLoading$ | async; else showRoute">
    <div class="col-12"><h5>**** loading ****</h5></div>
  </div>
  <ng-template #showRoute>
    <router-outlet></router-outlet>
  </ng-template>
</div>

