<mat-toolbar class="nav-toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h5>License Plate Game</h5>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="app-nav-menu">
  <mat-drawer #sidenav mode="push" role="navigation" class="sidenav">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item [routerLink]="['/', appRoutes.game]" routerLinkActive="active-link">
        <mat-icon>map</mat-icon>Game
      </a>
      <a mat-list-item [routerLink]="['/', appRoutes.home, appRoutes.history]" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>History
      </a>
      <a mat-list-item [routerLink]="['/', appRoutes.about]" routerLinkActive="active-link">
        <mat-icon>info</mat-icon>About
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="app-contents">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <div *ngIf="isLoading$ | async; else showRoute">
        <mat-progress-spinner></mat-progress-spinner>
      </div>
      <ng-template #showRoute>
        <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</mat-drawer-container>


