<h2 mat-dialog-title>I spy...</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div [formGroup]="form" class="game-form">
      <div class="form-group plate" *ngFor="let state of plateData.plates; trackBy: trackPlateSpot">
        <mat-checkbox class="state-province-input" [id]="state.key" [formControlName]="state.key" [color]="'primary'">
          {{ state.name }}
        </mat-checkbox>
        <img class="plate-img" src="{{state.plateImage}}" alt="{{state.key}}" *ngIf="!!state.plateImage" />
        <small style="display: block; padding-left: 1.5rem;" *ngIf="state.showDetails">
          On {{ state.dateSpotted | date: 'E, MMM dd @ h:mm aaa' }} by {{ state.spottedBy }}
        </small>
      </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" fxFlex="30%" id="cancel-spot" (click)="dismiss()">Cancel</button>
  <button mat-raised-button color="primary" fxFlex="65%" id="submit-spot" (click)="submit()">Save</button>
</mat-dialog-actions>