<h2 mat-dialog-title>I spy...</h2>
<div [formGroup]="form" class="game-form">
  <mat-form-field class="search-input-form-field" appearance="outline">
    <input matInput placeholder="Search by name (e.g. California)"
           type="search"
           formControlName="{{searchCtrlName}}"
           id="search-input">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="form-group plate" formGroupName="{{licenseGroupName}}" *ngFor="let plate of (plateData.plates | licensePlateFilter: searchValue); trackBy: trackPlateSpot">
      <mat-checkbox class="state-province-input" [id]="plate.key" [formControlName]="plate.key" [color]="'primary'">
        <span style="white-space: normal;">
          {{ plate.name }}
        </span>
      </mat-checkbox>
      <div class="plate-img"
          (click)="togglePlate(plate.key)"
          [style.backgroundImage]="'url('+plate.plateImage+')'"
          *ngIf="!!plate.plateImage"></div>
      <div class="plate-details">
        <small *ngIf="plate.showDetails">
          On {{ plate.dateSpotted | date: 'E, MMM dd @ h:mm aaa' }} by {{ plate.spottedBy }}
        </small>
        <small>{{getPlateScorePoints(plate)}} point(s)</small>
      </div>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
</div>

<mat-dialog-actions fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" fxFlex="30%" id="cancel-spot" (click)="dismiss()">Cancel</button>
  <button mat-raised-button color="primary" fxFlex="65%" id="submit-spot" (click)="submit()">Save</button>
</mat-dialog-actions>