.state-province-input {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.game-form {
  padding: 1rem 0 0 2rem;
}

.plate {
  padding-bottom: 1rem;
}

.plate-img {
  height: 30vw;
  background-repeat: no-repeat;
  background-size: contain;
}

mat-dialog-content {
  padding: 0;
}

::ng-deep .mat-checkbox-inner-container {
  height: 1.5rem !important;
  width: 1.5rem !important;

  .mat-checkbox-background {
    color: white !important;
  }
}