@import '~src/styles/variables.scss';

:host {
	display: inline-block;
	overflow: hidden;
	position: relative;
}

@keyframes movefrombg {
  from { fill: u $unspottedState }
}

@keyframes movetobg {
	to { fill: u $unspottedState }
}

.state {
	fill: $unspottedState;
	animation: movetobg .5s ease-out;
}

.this-game-most-recent-spot {
	fill: $accent;
	animation: movefrombg .5s ease-out;
}

.this-game-spot {
	fill: $primary;
	animation: movefrombg .5s ease-out;
}

.past-games-unweighted {
	fill: $spottedHistState;
	animation: movefrombg .5s ease-out;
}

@for $i from 1 through 10 {
	.past-games-weight-#{$i * 10} {
		fill: rgba($color: $primary, $alpha: $i / 10);
		animation: movefrombg .5s ease-out;
	}
}