<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Game History
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="hasPastGames; else showNoPastGames">
      <app-us-map [pastGames]="pastGameLicensePlates"></app-us-map>
      <mat-divider></mat-divider>
      <mat-list *ngFor="let pastGame of pastGames">
        <mat-list-item>
          <p>
            <strong>{{ pastGame.name }}</strong> ({{ pastGame.dateCreated | date }} - {{ pastGame.DateFinished | date }}).
             Final score {{ GetPastGameScore(pastGame) }}.
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <ng-template #showNoPastGames>
      <h4>No past games</h4>
    </ng-template>
  </mat-card-content>
</mat-card>