body {
  // background-image: url('./assets/road.jpg');
  // background-clip: padding-box;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  // background-color: dimgray;
}

.card {
  background-color: lightgray;
  opacity: 0.97;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
