body {
  background-color: gray;
}

.card {
  margin: .8rem;
  background-color: white;
  mat-card-footer {
    padding: .5rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
