<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title *ngIf="!!game; else showNoGame">
            {{ game.name }} :: {{ game.dateCreated | date }}
        </mat-card-title>
        <ng-template #showNoGame>
            No active game. Please start a new one!
        </ng-template>
        <button *ngIf="!!game" mat-raised-button color="accent" id="finish-game" (click)="finishGame()">
            Finish the game
        </button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="!!game">
            <app-us-map [currentGame]="currentGame" [pastGames]="pastGames"></app-us-map>
            <mat-divider></mat-divider>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <button *ngIf="!game" mat-raised-button color="primary" id="create-game" (click)="startNewGame()">
            Start new game
        </button>
    </mat-card-footer>
</mat-card>
<button *ngIf="!!game" mat-fab color="primary" id="open-state-dialog" class="fixed-bottom-right"
    (click)="openStateDialog()" aria-label="Add state">
    <mat-icon>add</mat-icon>
</button>