.state-province-input {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.game-form {
  padding: 1rem 0 0 2rem;
}

::ng-deep .mat-checkbox-inner-container {
  height: 1.5rem !important;
  width: 1.5rem !important;
}