<mat-card class="card mat-elevation-z8" >
    <mat-card-header>
        <mat-card-title fxFlexFill *ngIf="!!currentGame; else showNoGame">
            {{ currentGame.name }} :: {{ currentGame.dateCreated | date }}
        </mat-card-title>
        <ng-template #showNoGame>
            No active game. Please start a new one!
        </ng-template>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center">
        <div *ngIf="!!currentGame" class="us-map" fxFlexFill>
            <app-us-map [currentGame]="currentGameSpots" [pastGames]="pastGames"></app-us-map>
            <mat-divider></mat-divider>
            <app-non-us-spots [currentGame]="currentGameSpots" [pastGames]="pastGames"></app-non-us-spots>
        </div>
    </mat-card-content>
</mat-card>
<button *ngIf="currentGame" mat-mini-fab color="warn" (click)="finishGame()"
    id="finish-game" class="btn-sm fixed-bottom-left">
    <mat-icon>beenhere</mat-icon>
</button>
<button mat-fab color="primary" id="open-state-dialog" class="fixed-bottom-right mat-elevation-z8"
    (click)="openAddDialog()" aria-label="Add">
    <mat-icon>add</mat-icon>
</button>