.fixed-bottom-right {
  position: fixed;
  bottom: 2.5rem;
  right: 1.5rem;
}

.fixed-bottom-left {
  position: fixed;
  bottom: 2.5rem;
  left: 1.5rem;
}

.us-map {
  margin: 2rem 0 1rem 1rem !important;
}